@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border: 0.3px solid #3b6b87;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
  font-size: 0.875rem;
  outline: none;
}

input:focus-visible,
textarea:focus-visible {
  border-color: #3b6b87;
  background-color: #a2c5d4;
  box-shadow: 0 0 0 0.3px #3b6b87;
}

input::placeholder,
textarea::placeholder {
  color: #a2a2a2;
}

input:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.background-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('../public/background.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 0;
}

.form-item {
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}

.form-select {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border: 0.3px solid #3b6b87;
  border-radius: 0.25rem;
  padding: 0.49rem;
  background-color: white; 
  color: black;
  font-size: 0.875rem;
  outline: none;
}

.form-select:focus-visible {
  border-color: #3b6b87;
  background-color: #a2c5d4;
  box-shadow: 0 0 0 0.3px #3b6b87;
}

.form-select::placeholder {
  color: #a2a2a2;
}

.form-select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.form-select option {
  background-color: white; 
  color: black;
}

.form-select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
  width: 100%;
}

.form-select:focus {
  width: 100%; 
  min-width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 100%;
  background-color: #3b6b87;
  color: black;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a2c5d4;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.bg-opacity-50::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../public/background.jpg') center center / cover no-repeat;
  opacity: 0.5; 
  z-index: -1;
}

@keyframes float-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.page-enter {
  animation: slide-in-right 0.5s forwards;
}

.page-exit {
  animation: slide-out-left 0.5s forwards;
}
.float-up {
  animation: float-up 1s ease-out forwards;
}

.float-down {
  animation: float-down 1s ease-out forwards;
}
.radio-group {
  @apply flex flex-row flex-wrap gap-4 sm:gap-6 md:gap-8 lg:gap-10;
}

.radio-item {
  @apply flex items-center cursor-pointer p-2 sm:p-3 md:p-4 lg:p-5 bg-white border border-[#3b6b87] rounded-md transition-all;
}

.radio-item input[type="radio"] {
  @apply absolute opacity-0 cursor-pointer; /* Hides the native radio input */
}

.radio-item input[type="radio"]:checked ~ .checkmark {
  @apply bg-[#3b6b87] border-[#3b6b87];
}

.radio-item .checkmark {
  @apply relative h-4 w-4 sm:h-5 sm:w-5 md:h-6 md:w-6 lg:h-7 lg:w-7 bg-white border border-[#3b6b87] rounded-full flex items-center justify-center transition-all;
}

.radio-item .checkmark::before {
  content: '';
  @apply absolute h-2 w-2 sm:h-2.5 sm:w-2.5 md:h-3 md:w-3 lg:h-3.5 lg:w-3.5 bg-white rounded-full;
}


.custom-date-picker {
  border: 0.3px solid #3b6b87 !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem !important;
  background-color: white !important;
  color: black !important;
  font-size: 0.875rem !important;
  outline: none !important;
}

.custom-date-picker:focus-visible {
  border-color: #3b6b87 !important;
  background-color: #a2c5d4 !important;
  box-shadow: 0 0 0 0.3px #3b6b87 !important;
}

.indexedStep {
  color: rgb(190, 190, 190);
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.indexedStep.accomplished {
  background-color: #3b6b87;
  color: white;
  border-style: none;
}

.RSPBprogressBar {
  height: 2px;
  width: 100%; /* Adjust to 100% to fit parent container */
  max-width: 600px; /* Set a maximum width */
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: rgb(207, 207, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  margin: 20px auto;
}

.RSPBprogressBar .RSPBstep {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  transform: translateX(-50%);
  transition-property: all;
  transition-timing-function: ease;
}

.RSPBprogressBar .RSPBprogressBarText {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.RSPBprogressBar .RSPBprogression {
  position: absolute;
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: #3b6b87;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .indexedStep {
    width: 15px;
    height: 15px;
    font-size: 6px;
  }
}
